<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sma2.apkinson">



    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- permission required to automatically restart a repeating alarm if the user reboots the device -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name="com.sma2.apkinson.Activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sma2.apkinson.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sma2.apkinson.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sma2.apkinson.ExercisesActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sma2.apkinson.ThanksActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.sma2.apkinson.Profile1Activity"
            android:screenOrientation="portrait" />
        <activity android:name="com.sma2.apkinson.Profile2Activity"
            android:screenOrientation="portrait" />
        <activity android:name="com.sma2.apkinson.Profile3Activity"
            android:screenOrientation="portrait" />
        <activity android:name="com.sma2.apkinson.MainActivityMenu"
            android:screenOrientation="portrait" />
        <activity android:name="com.sma2.apkinson.ResultsSpeech"
            android:screenOrientation="portrait" />

        <activity android:name="com.sma2.apkinson.UpdateMedicine" />
        <activity android:name="com.sma2.apkinson.Modif_medicine" />
        <activity android:name="com.sma2.apkinson.ActivityChangeScheduler"
            android:screenOrientation="portrait"/>
        <activity android:name="com.sma2.apkinson.ResultsTapping"
            android:screenOrientation="portrait"/>


        <activity
            android:name="com.sma2.apkinson.ResultsMovement"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.sma2.apkinson.ResultsHistorical"
            android:screenOrientation="portrait" />

        <!-- Register the Alarm Receiver -->
        <receiver android:name="com.sma2.apkinson.AlarmReceiver"

            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.sma2.apkinson.AlarmReceiverMedicine"

            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>