<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sma2.sma2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- permission required to automatically restart a repeating alarm if the user reboots the device -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".Activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExercisesActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThanksActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Profile1Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Profile2Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Profile3Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivityMenu" />
        <activity android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".UpdateMedicine" />
        <activity android:name=".Modif_medicine" />
        <activity android:name=".ResultsActivity" />
        <activity android:name=".FeatureExtraction.Tapping.Tapping_feature_Activity" />

        <activity android:name=".FeatureExtraction.Tapping.Tapping_feature_Two_Activity"></activity>
        <activity android:name=".FeatureExtraction.Speech.Speech_features_Activity"
            android:screenOrientation="portrait" />

        <!-- Register the Alarm Receiver -->
        <receiver android:name=".AlarmReceiver"

            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiverMedicine"

            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>