<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sma2.sma2">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity">
        </activity>

        <activity
            android:name=".SettingsActivity">
        </activity>

        <activity
            android:name=".ExercisesActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ExerciseFragments.Ex_speech1">
        </activity>

        <activity
            android:name=".ExerciseFragments.Ex_speech2">
        </activity>
        <activity
            android:name=".ExerciseFragments.Ex_speech3">
        </activity>

        <activity
            android:name=".ExerciseFragments.Ex_walking">
        </activity>
        <activity
            android:name=".ExerciseFragments.Ex_mov_hands">
        </activity>
        <activity
            android:name=".ExerciseFragments.Ex_tapping">
        </activity>
        <activity
            android:name=".ExerciseFragments.Tapping1">
        </activity>

        <activity
            android:name=".ExerciseFragments.Tapping2">
        </activity>
        <activity
            android:name=".ExerciseFragments.Sliding">
        </activity>
        <activity
            android:name=".ThanksActivity">
        </activity>
        <activity
            android:name=".ExerciseFragments.Record_speech">
        </activity>
        <activity
            android:name=".ExerciseFragments.Record_speech_image">
        </activity>
        <activity
            android:name=".ExerciseFragments.Record_movement">
        </activity>
        <activity
            android:name=".ExerciseFragments.Record_mov_ball_balance">
        </activity>


    </application>

</manifest>